## Basics

### Q1 - Basic Operations
Create two variables, `num1` and `num2`. Assign `num1` the value 25 and `num2` the value 7.

Then, calculate their sum, difference, product, and quotient, storing each result in a separate variable (e.g., sum_val, diff_val, prod_val, quot_val).

Finally, print all four results.

### Q2 - List Manipulation

Given the list fruits = `["apple", "banana", "cherry"]`:

a) Add "orange" to the end of the list.

b) Insert "grape" at the second position (index 1).

c) Remove "banana" from the list.

d) Print the final list.

### Q3 - Dictionary Operations

Given the dictionary

`student = {"name": "Alice", "age": 20, "major": "Computer Science"}`:

a) Add a new key-value pair ("gpa", 3.8) to the dictionary.

b) Change the value of "age" to 21.

c) Print all the keys in the dictionary.

d) Print the value associated with the key "major".

### Q4 - Conditional Logic

Write an if-elif-else statement that checks the value of a variable score.

- If score is 90 or above, print "Excellent!"
- If score is between 70 and 89 (inclusive), print "Good."
- Otherwise, print "Needs Improvement." Test your code with score = 85.

### Q5 - For Loop Iteration

Use `a` for loop to iterate through the list `numbers = [1, 2, 3, 4, 5]` and print the square of each number.

### Q6 - For Loop Iteration

Use a while loop to print numbers from 10 down to 1.

### Q7 - Basic Function Definition and Call

Define a function named calculate_area that takes two arguments, `length` and `width`, and returns their product (the area).

Then, call the function with length = 5 and width = 8, and print the returned area.

### Q8 - Function with Conditional Logic

Define a function called `check_even_odd` that takes one integer argument num.

Inside the function, print whether the number is "Even" or "Odd".

Call the function with check_even_odd(4) and check_even_odd(7).

### Q9 - Classes and objects

Define a class named Car.

- The Car class should have an __init__ method that takes make and model as arguments and assigns them to instance variables.

- It should also have a method called display_info that prints "This is a [make] [model]." Create an object (instance) of the Car class for a "Toyota Camry" and then call its display_info method.

### Q10 - Tuples

Create a tuple named `coordinates` with the values `(10, 20)`.
Try to change the first element of the tuple to `15`. What happens? (Describe the error or outcome).
Then, print the original `coordinates` tuple.

## Intermediate

### Q11 - sorting

Given an array
```
arr = [
    (-1, -0.49, 'e'),
    (2, 0.86, 'h'),
    (-8, -0.46, 'i'),
    (7, 0.17, 'c'),
    (-2, -0.04, 'f'),
    (-8, -0.34, 'j'),
    (0, 0.88, 'a'),
    (5, -0.43, 'g'),
    (1, 0.12, 'd'),
    (0, 0.25, 'b')
]
```

Sort them in following ways -

a) first, second and third elements, individually

b) sum of first 2 elements

c) pair of (3rd, 1st) element

d) pair of (3rd, 1st, negative of 2nd) element

### Q12 - Packing/Unpacking

Create a function that takes 3 numbers and returns sum of these. Pass parameters to it in following ways -
- `*args`
- `**kwargs`

### Q13 - Comprehension

Given a string of unique characters, create a function that -

- validates character counts (should be 1 for each char, use assert, Counter to verify)
- create char to index map
- create index to char map

and return both maps

### Q14 - Decorators

Create a decorator that measures the time of any function.